 <div class="modal fade" id="cloneProposalForm<%= @proposal_type.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="max-height: 550px; overflow-y: auto;">
      <div class="modal-header">
        <h5 class="modal-title">Proposal Forms</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-3">
        <% ProposalForm.where(status: [:active, :inactive]).each do |proposal_form| %>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0 justify-content-between">
                  <div>
                    <span class="fw-bold">Title: </span> <%= proposal_form.title %><br> 
                    <span class="fw-bold">Proposal Type: </span> <%= proposal_form.proposal_type&.name %><br>
                    <span class="fw-bold">Version: </span><%= proposal_form.version %>
                  </div>
                  <%= link_to 'Clone', clone_proposal_type_proposal_form_path(@proposal_type, proposal_form), class:'btn btn-pill btn-primary float-end', method: :post, data: (active_or_draft_form?(proposal_type_id) ? {confirm: 'You already have form for this proposal type in draft/active state, if you continue system will make them inactive. Do you want to continue?'} : '') %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
