<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposal Form
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Dashboard", dashboards_path %></a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @proposal_form.new_record? ? 'New' : 'Edit' %></li>
        </ol>
      </nav>
    </div>
    <div class="col-12 ">
      <div class="card">
        <div class="card-body">
          <div id="panel" data-controller="proposal-form">
            <div class="container-fluid" data-proposal-form-target="proposalFormId">
              <%= form_for([@proposal_type, @proposal_form]) do |form| %>
                <div class="form-group mb-2">
                  <%= form.label :title, class:'mb-2' %>
                  <%= form.text_field :title, class:'form-control', disabled: @proposal_form&.inactive? %>
               </div>
               <% if @proposal_form.new_record? %>
                  <div class="form-group mb-2">
                    <%= form.label :proposal_type, class:'mb-2' %>
                    <%= form.select :proposal_type_id, options_for_select(all_proposal_types, params[:proposal_type_id]), {}, class:'form-control' %>
                  </div>
               <% end %>
               <div class="form-group mb-2">
                  <%= form.label :status, class:'mb-2' %>
                  <%= form.select :status, options_for_select(proposal_form_statuses, @proposal_form.status), {}, class:'form-control', disabled: @proposal_form&.inactive? %>
               </div>
               <div class="form-group">
                 <%= form.submit class:'btn btn-primary my-2', disabled: @proposal_form&.inactive? %>
               </div>
              <% end %>
              <% if @proposal_form.id && (@proposal_form.draft? || @proposal_form.active?) %>
                <div class="col-12 d-flex align-self-center justify-content-end position-relative" >
                  <a href="javascript:void(0)" class="btn btn-primary" data-proposal-form-target="contentOfButton" data-action="click->proposal-form#toggleProposalFieldsPanel">Add Form Field</a>
                  <section class="fields-panel hidden" data-proposal-form-target='proposalFieldsPanel' data-proposal-form-visible-value="false">
                    <% ProposalField::FIELD_TYPES.each do |field_type| %>
                    <a href="javascript:void(0);" class="btn btn-light " data-action="click->proposal-form#fetchField click->proposal-form#toggleProposalFieldsPanel" data-field="<%= field_type %>" data-type-id="<%= @proposal_type&.id %>" data-id="<%= @proposal_form.id %>"><%= field_type %></a>
                    <% end %>
                  </section>
                </div>
              <% end %>
              <% unless @proposal_form.new_record?  %>
                <div class="row">
                  <div class="col-7">
                    <div class="card cursor-pointer">
                      <div class="card-header">
                        <h3>Proposal Fields</h3>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col mt-0">
                            <%= render partial: 'proposal_forms/proposal_fields', locals: { proposal_fields: @proposal_form&.proposal_fields } %>
                          </div>
                          <div class="col-auto"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-5">
                    <div data-proposal-form-target="proposalField"></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
