<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposal Forms
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <%= link_to "Dashboard", dashboards_path %> </a></li>
          <li class="breadcrumb-item active" aria-current="page">Proposal Forms</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            </h6>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Proposal Type</th>
                <th>Location </th>
                <th>Status</th>
                <th>Updated</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @proposal_forms.each do |proposal_form| %>
              <tr>
                <td><%= link_to proposal_form.title, proposal_form_path(proposal_form) %></td>
                <td><%= link_to proposal_form.proposal_type.name, edit_proposal_type_path(proposal_form.proposal_type) %></td>
                <td>
                  <% proposal_form.proposal_type.locations.each do |loc| %>
                   <%= loc.name %><br>
                  <% end %>
                </td>
                <td><%= proposal_form.status %></td>
                <td><a title="By <%= proposal_form.last_updated_by %>"><%= proposal_form.updated_on %></a></td>
                <td class="table-action">
                  <% if proposal_form.draft? %>
                    <%= link_to 'Edit', edit_proposal_form_path(proposal_form), class: 'btn btn-primary btn-sm' %>
                  <% end %>

                  <%= link_to 'Clone', clone_proposal_form_path(proposal_form), class:'btn btn-secondary btn-sm', method: :post %>

                  <%= link_to 'Delete', proposal_form_path(proposal_form), class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: "Are you sure you want to delete #{proposal_form.proposal_type.name}?"} %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to 'Add New Proposal Form', new_proposal_form_path, class: 'btn btn-primary' %>

      </div>
    </div>
  </div>
</main>
