<%= render 'layouts/sidebar' %>

<div class="main-content" id="panel">
<p id="notice"><%= notice %></p>
  <div class="container-fluid mt-4">
    <h2>Proposal Forms</h2>
    <div class="card mt-5">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
            <th>Proposal Type</th>
            <th>Status</th>
            <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @proposal_forms.each do |proposal_form| %>
            <tr>
              <td><%= proposal_form.proposal_type.name %></td>
              <td><%= proposal_form.status %></td>
              <td>
                <%= link_to "Show", proposal_form_path(proposal_form), class: 'btn-sm btn btn-success' %>
                <% if proposal_form.draft? %>
                  <%= link_to "Edit", edit_proposal_form_path(proposal_form), class: 'btn-sm btn btn-primary' %>
                <% end %>

                <%= link_to "Delete", proposal_form, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn btn-danger' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
