<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposal Form 
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <%= link_to "Dashboard", dashboards_path %></a></li>
          <li class="breadcrumb-item"> <%= link_to "Proposal Forms", proposal_forms_path %></li>
          <li class="breadcrumb-item active" aria-current="page"> <%= @proposal_form.proposal_type.name %></li>
        </ol>
      </nav>
    </div>
    <div class="col-12 ">
      <div class="card">
        <div class="card-body">
          <div id="panel" data-controller="proposal-form">
            <div data-proposal-form-target="proposalFormId">
              <h2> Status: </h2>
              <h2 id="proposal_status"> <%= @proposal_form.status %></h2>
            </div>              
            <div class="row">
              <div class="col-7">
                <div class="header"><h1>List of proposal fields</h1></div>
                 <% unless @proposal_form.new_record?  %>
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col mt-0">
                            <%= render partial: 'proposal_forms/proposal_fields', locals: { proposal_fields: @proposal_form&.proposal_fields } %>
                          </div>
                          <div class="col-auto">
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="col-5">
                  <div data-proposal-form-target="proposalField"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
