<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposal Form 
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Dashboard", dashboards_path %></li>
          <li class="breadcrumb-item"><%= link_to "Proposal Forms", proposal_type_proposal_forms_path %></li>
          <li class="breadcrumb-item active" aria-current="page"> <%= @proposal_form.proposal_type.name %></li>
        </ol>
      </nav>
    </div>
    <div class="col-12 ">
      <div class="card ">
        <h2 id="proposal_status" class="ps-3"> Status:<span class="text-danger"> <%= @proposal_form.status %></span></h2>
        <h1 class="ps-3">List of proposal fields</h1>
        <div class="card-body">
          <div class="row">
            <div class="col mt-0">
              <%= render partial: 'proposal_forms/proposal_fields', locals: { proposal_fields: @proposal_form&.proposal_fields } %>
            </div>
            <div class="col-auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
