<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposals
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Dashboard", dashboards_path %> </a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "Proposals", proposals_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "Invites", proposal_invites_path %></li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="col-12 d-flex align-self-center justify-content-end position-relative" >
              <%= link_to 'New invite', new_proposal_invite_path(@proposal), class:'btn btn-primary' %>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Invited As</th>
                  <th>Status</th>
                  <th>Invitation Status</th>
                </tr>
              </thead>
              <tbody>
                <% @invites.each do |invite|%>                  
                <tr>
                  <td><%= invite.firstname %></td>
                  <td><%= invite.lastname %></td>
                  <td><%= invite.email %></td>
                  <td><%= invite.invited_as %></td>
                  <td><%= invite.status&.capitalize %></td>
                  <td><%= invite.response&.capitalize %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
