<main class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="m-sm-4">
              <%= form_with url: inviter_response_proposal_invite_path(@proposal, @invite, code: @invite.code) do  |f| %>
                <div class="col-lg-8">
                  <div class="mb-3">
                    <h5>
                      Welcome, <%= @invite.person&.fullname %>! Thank you for responding.
                    </h5>
                    <h5>
                      You have been invited by <%= @invite.proposal.lead_organizer&.fullname %> to participate in (or for co-organizers, "to be a supporting organizer for") a proposed workshop facilitated by the Banff International Research Station entitled, "<%= @invite.proposal.title %>".
                    </h5>
                    <h5>
                      If the proposal is selected by the peer review process in the last quarter of this year, it will be scheduled to take place in <%= @invite.proposal.year %>. Assuming that your schedule allows for it, are you interested in attending?
                    </h5>
                  </div>
                  <div class="mb-3">
                    <%= f.submit 'YES', class:'btn btn-success' %>
                    <%= f.submit 'MAYBE', class:'btn btn-warning', style:'
                      background: #ffc107;
                      border: #ffc107;' %>
                    <%= f.submit 'NO', class:'btn btn-youtube' %>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
