<div class="splash">
  <div class="splash-icon"></div>
</div>
<main class="main h-100 w-100">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
        <div class="d-table-cell align-middle">
          <div class="text-center mt-4">
            <h1 class="h2">Confirm Your Account</h1>
            <p class="lead">
              Please check your e-mail, and click the link in the message we sent.
            </p>
          </div>
          <!-- Page content -->
          <div class="card">
            <div class="card-body">
              <div class="m-sm-4">
              <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, 'data-turbo':'false' }) do |f| %>
                <div class="form-group">
                  <div class="mb-3">
                    <%= f.email_field :email, class:"form-control form-control-lg", placeholder:"Enter the e-mail address", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)  %>
                    <label>Resend confirmation e-mail to the address you signed up with.</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="text-center mt-3">
                    <%= f.submit "Resend confirmation instructions", class: 'btn btn-lg btn-primary' %>
                  </div>
                </div>
              </div>
            <% end %>
            </div>

          <div class="d-flex justify-content-around mb-4">
            <%= link_to "Log in", new_session_path(resource_name) %>
          <%= link_to "Sign up", new_registration_path(resource_name) %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
