<div class="form-group mb-4">
  <div>
    <label for="statement"><%= field.statement %></label>
    <% if current_user&.staff_member? && @proposal_form&.draft? && params[:action] == 'edit' %>
      <span data-action="click->proposal-form#editField" data-field-id="<%= field.id %>" data-proposal-form-id="<%= @proposal_form&.id %>" style="color: #3b7ddd" class="mx-1" data-type-id="<%= @proposal_type&.id %>">Edit</span>
      <%= link_to 'Delete', proposal_field_proposal_type_proposal_form_url(@proposal_type, @proposal_form, field_id: field.id), method: :delete ,
    data: {confirm: "Are you sure you want to delete this field?"} %>
    <% end %>
  </div>
  <p class="comment" style="font-style: italic;">
    <%= field.description.html_safe %>
    <% if field.description.length > 140 %>
      <a href="<%= field.guideline_link %>" target="_blank">
        Learn More
      </a>
    <% end %>
  </p>
  <%= select_tag "Option", options_for_select(proposal_field_options(field),multichoice_answer(field, @proposal)), class: 'form-control', disabled: action,  multiple: true, name: "#{field.id}[]" %>

 <% if @publish %>
    <ul>
    <% validations(field, @proposal).each do |val| %>
      <li style="color: red"><%= val %></li>
    <% end %>
  </ul>
  <% end %>
</div>
