<div class="row" data-proposal-form-target="addOption">
  <label for="options">Add Options</label><br>  
  <%= f.fields :options do |field| %>
   <div class="row" data-proposal-form-target="optionRow">
     <div class="row">
        <div class="form-group col-2">
      <%= f.label :index %>
      <%= field.number_field :index, class:"form-control", name: 'proposal_field[options][0][index]' %>
    </div>
    <div class="form-group col-5">
      <%= f.label :text %>
      <%= field.text_field :text, class:"form-control", name: 'proposal_field[options][0][text]' %>
    </div>
    <div class="form-group col-4">
      <%= f.label :value %>
      <%= field.text_field :value, class:"form-control", name: 'proposal_field[options][0][value]' %>
    </div>
    <div class="align-items-center col-1 d-flex justify-content-center">
      <%= image_tag 'delete.svg', size: '25x25', data: {action: 'click->proposal-form#deleteOption'} %>
    </div>
     </div>
   </div>
  <% end %>
</div>
<span class="btn btn-sm btn-primary mb-2" data-action="click->proposal-form#handleAddOptions" data-proposal-form-value="optionCounter">Add option</span>
