<div class="form-group mb-4">
  <div>
    <span><%= location_name(field) %></span><br>
    <label for="statement"><%= field.statement %></label>
    <%= mandatory_field?(field) %>
    <% if current_user&.staff_member? && @proposal_form&.draft? && params[:action] == 'edit' %>
      <span data-action="click->proposal-form#editField" data-field-id="<%= field.id %>" data-proposal-form-id="<%= @proposal_form&.id %>" style="color: #3b7ddd" class="mx-1">Edit</span>
    <%= link_to 'Delete', proposal_field_proposal_type_proposal_form_url(@proposal_type, @proposal_form, field_id: field.id), method: :delete ,
    data: {confirm: "Are you sure you want to delete this field?"} %>
    <% end %>
  </div>
  <span class="comment" style="font-style: italic;">
    <%= field.description.html_safe %>
  </span>
  <% if field.guideline_link.present? %>
    <p><a href="<%= field.guideline_link %>" target="_blank"> 
      Learn More
    </a></p>
  <% end %>
  <div class="row">
    <div class="col-6">
      <h4>Preferred Dates</h4>
      <%= select_tag "preferred_dates_1", options_for_select(preferred_impossible_dates(field, 'preferred_dates_1'), dates_answer(field, @proposal, '0')), {class:'form-select mb-2', include_blank: true, name: "#{field.id}[]", disabled: action} %>
      <%= select_tag "preferred_dates_2", options_for_select(preferred_impossible_dates(field, 'preferred_dates_2'), dates_answer(field, @proposal, '1')), {class:'form-select mb-2', include_blank: true, name: "#{field.id}[]", disabled: action} %>
      <%= select_tag "preferred_dates_3", options_for_select(preferred_impossible_dates(field, 'preferred_dates_3'), dates_answer(field, @proposal, '2')), {class:'form-select mb-2', include_blank: true, name: "#{field.id}[]", disabled: action} %>
      <%= select_tag "preferred_dates_4", options_for_select(preferred_impossible_dates(field, 'preferred_dates_4'), dates_answer(field, @proposal, '3')), {class:'form-select mb-2', include_blank: true, name: "#{field.id}[]", disabled: action} %>
      <%= select_tag "preferred_dates_5", options_for_select(preferred_impossible_dates(field, 'preferred_dates_5'), dates_answer(field, @proposal, '4')), {class:'form-select mb-2', include_blank: true, name: "#{field.id}[]", disabled: action} %>
    </div>
    <div class="col-6">
      <h4>Impossible Dates</h4>
      <%= select_tag "impossible_dates_1", options_for_select(preferred_impossible_dates(field, 'impossible_dates_1'), dates_answer(field, @proposal, '5')), {class:'form-select mb-2', include_blank: true, name: "#{field.id}[]", disabled: action} %>
      <%= select_tag "impossible_dates_2", options_for_select(preferred_impossible_dates(field, 'impossible_dates_2'), dates_answer(field, @proposal, '6')), {class:'form-select mb-2', include_blank: true, name: "#{field.id}[]", disabled: action} %>
    </div>
  </div>

 <% if @submission %>
    <ul>
    <% validations(field, @proposal).each do |val| %>
      <li class="field-validation"><%= val %></li>
    <% end %>
  </ul>
  <% end %>
</div>
