<div class="form-group mb-3">
  <div>
    <span><%= location_name(field) %></span><br>
    <label for="statement"><%= field.statement %></label><%= mandatory_field?(field) %>
    <% if current_user&.staff_member? && @proposal_form&.draft? && params[:action] == 'edit' %>
      <span data-action="click->proposal-form#editField" data-field-id="<%= field.id %>" data-proposal-form-id="<%= @proposal_form&.id %>" style="color: #3b7ddd" class="m-1" data-type-id="<%= @proposal_type&.id %>">Edit</span>
      <%= link_to 'Delete', proposal_field_proposal_type_proposal_form_url(@proposal_type, @proposal_form, field_id: field.id), method: :delete ,
    data: {confirm: "Are you sure you want to delete this field?"} %>
	  <% end %>
  </div>
  <span class="comment">
    <%= field.description.html_safe %>
  </span>
  <% if field.guideline_link.present? %>
    <p><a href="<%= field.guideline_link %>" target="_blank"> 
      Learn More
    </a></p>
  <% end %>
  <%= select_tag "Option", options_for_select(proposal_field_options(field), answer(field, @proposal)), class: 'form-select', disabled: action, name: field.id %>

  <% if @submission %>
    <% validations(field, @proposal).each do |val| %>
      <p class="field-validation"><%= val %></p>
    <% end %>
  <% end %>
</div>

