<div class="d-flex justify-content-between align-items-center">
  <label for="statement"><%= field.statement %></label>
  <p class="collapsible collapsed" style="font-style: italic;">
    <%= field.description %> <%= link_to "Learn More", guidelines_path %>
  </p>
  <textarea name="<%= field.id %>" id="" data-value='<%= field.id %>' cols="30" rows="5" class="form-control" data-submit-proposals-target="text" ><%= answer(field, @proposal) %></textarea>
  <span style="height: 40px;" class="btn btn-primary mx-2" data-action="click->submit-proposals#print" data-value='<%= field.id %>' >Print</span>
  <textarea class="form-control" id="" cols="30" rows="5" data-submit-proposals-target="latexText" data-value='<%= field.id %>'></textarea>
</div>
