<label for="statement"><%= field.statement %></label>
<p class="collapsible collapsed" style="font-style: italic;">
  <%= field.description %> <%= link_to "Learn More", guidelines_path %>
</p>
<div>
  <textarea name="<%= field.id %>" id="" data-value='<%= field.id %>' cols="30" rows="5" class="form-control" data-submit-proposals-target="text" ><%= answer(field, @proposal) %></textarea>
  <span class="btn btn-primary my-2" data-action="click->submit-proposals#print" data-value='<%= field.id %>' >Print</span>
</div>