<div>
  <label for="statement"><%= field.statement %></label>
  <% if current_user&.staff_member? && @proposal_form&.draft? && params[:action] == 'edit' %>
    <span data-action="click->proposal-form#editField" data-field-id="<%= field.id %>" data-proposal-form-id="<%= @proposal_form&.id %>" style="color: #3b7ddd" class="mx-1">Edit</span>
    <%= link_to 'Delete', proposal_field_proposal_form_url(@proposal_form, field_id: field.id), method: :delete ,
    data: {confirm: "Are you sure you want to delete this field?"} %>
  <% end %>
</div>

<p class="collapsible collapsed" style="font-style: italic;">
  <%= field.description %> <%= link_to "Learn More", guidelines_path, target: '_blank' %>
</p>

<div>
  <textarea name="<%= field.id %>" id="" data-value='<%= field.id %>' cols="30" rows="5" class="form-control" data-submit-proposals-target="text" ><%= answer(field, @proposal) %></textarea>
  <% if !(current_user&.staff_member? && params[:action] == 'show') %>
    <span class="btn btn-primary my-2" data-action="click->submit-proposals#print" data-value='<%= field.id %>' >Print</span>
  <% end %>
</div>