<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Code</th>
      <th>Proposal Title</th>
      <th>Proposal Type</th>
      <th>Lead Organizer</th>
      <th>Preferred Location</th>
      <th>Status</th>
      <th width="125">Updated</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @proposals&.each do |proposal| %>
    <tr>
      <td><input type="checkbox"  name="reviewed" data-value="<%= proposal.id %>"></td>
      <td><%= proposal.code %></td>
      <td><%= proposal.title %></td>
      <td><%= proposal.proposal_type.name %></td>
      <td><%= proposal.lead_organizer&.fullname %></td>
      <td> 
        <% proposal.locations.each do |loc| %>
         <%= loc.name %><br>
        <% end %>
      </td>
      <td class=<%= proposal_status_class(proposal.status) %> >
        <%= proposal.status&.split('_')&.map(&:capitalize)&.join(' ') %>
      </td>
      <td><%= proposal.updated_at.to_date %></td>
      <td class="table-action">
        <%= link_to '<i class="align-middle fas fa-fw fa-print"></i>PDF'.html_safe, rendered_proposal_proposal_path(proposal.id, :format => :pdf), target: '_blank' %>
        <%= link_to '<i class="align-middle fas fa-fw fa-eye"></i>Show'.html_safe, submitted_proposal_url(proposal) %>
        <%= link_to '<i class="align-middle fas fa-fw fa-trash" data-toggle="tooltip" title="Delete" ></i>Delete'.html_safe,submitted_proposal_url(proposal), method: :delete , data: {confirm: "Are you sure you want to delete this proposal?"} %>
        <%= link_to '<i class="align-middle fas fa-fw fa-check"></i>Approve'.html_safe, approve_status_submitted_proposal_url(proposal), method: :post %>
        <%= link_to '<i class="align-middle fas fa-fw fa-times"></i>Decline'.html_safe, decline_status_submitted_proposal_url(proposal), method: :post %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
