<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposals
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Dashboard", dashboards_path %> </a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "Submitted Proposals", submitted_proposals_path %></li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <form class="form-inline">
              
              <div class="row">
                <div class="col-xs-6 col-md-3">
                  <label>First Name</label><br>
                  <input type="search" name="firstname" placeholder="Enter First Name" value="<%= params[:firstname] %>">
                </div>
                <div class="col-xs-6 col-md-3">
                  <label>Last Name</label><br>
                    <input type="search" name="lastname" placeholder="Enter Last Name" value="<%= params[:lastname] %>">
                </div>
                <div class="col-xs-6 col-md-3">
                  <label>Keywords</label><br>
                  <input type="search" name="keywords" placeholder="Enter Keywords" value="<%= params[:keywords] %>">
                </div>
                <div class="col-xs-6 col-md-3">
                  <label>Workshop Year</label><br>
                  <%= select_tag "workshop_year", options_for_select([[2021, 2021], [2022, 2022], [2023,2023], [2024, 2024], [2025, 2025], [2026, 2026], [2027, 2027], [2028, 2028], [2029, 2029]], params[:workshop_year]), { include_blank: '', class: 'mb-3', style: 'width: 116px;'}%>
                </div>
              </div>
              <div class="mb-3">
                <label>Subject Area</label><br>
                <%= select_tag "subject_area", options_for_select(subjects_area, params[:subject_area]), { include_blank: '', class: 'p-1' }%>
                <div class="float-end">
                  <button class="btn btn-primary">Search</button>
                </div>
              </div>
            </form>
          </div>
          <div class="card-body"  style="background: #f4f7fc">
            <div class="col-12 col-lg-12">
              
              <div class="tab">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item col-6"><a class="nav-link active" href="#tab-1" data-bs-toggle="tab" role="tab">Submitted Proposals</a></li>
                  <li class="nav-item col-6"><a class="nav-link" href="#tab-2" data-bs-toggle="tab" role="tab">Demographic Data Graphs and charts</a></li>
                </ul>

                <div class="tab-content">
                  <div class="tab-pane active" id="tab-1" role="tabpanel">
                    <%= render partial: "proposals" %>
                  </div>
                  
                  <div class="tab-pane" id="tab-2" role="tabpanel">
                    <%= render partial: "demographic_charts" %>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
