<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposals
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" data-turbo="false">
          <li class="breadcrumb-item"> <%= link_to "Dashboard", dashboards_path %> </a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "Submitted Proposals", submitted_proposals_path %></li>
          <li class="breadcrumb-item active" aria-current="page">Show</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-16">
        <div class="card" style="background: #f4f7fc">
          <div class="card-body">
            <div data-controller="submit-proposals proposal-form"
              data-submit-proposals-proposal-type-id-value="<%= @proposal.proposal_type.id %>"
              data-submit-proposals-proposal-value="<%= @proposal.id %>" 
            >
              <div class="col-12 col-lg-12">
                <div class="tab">
                  <ul id="tabs" class="nav nav-tabs row" role="tablist">
                    <li class="nav-item col-1" data-target='submit-proposals.tabs'>
                      <a class="nav-link active" href="#tab-1" data-bs-toggle="tab" role="tab" data-target='submit-proposals.tabs'>Step 1</a>
                    </li>
                    <li class="nav-item col-1" data-target='submit-proposals.tabs'>
                      <a class="nav-link" href="#tab-2" data-target='submit-proposals.tabs' data-bs-toggle="tab" role="tab">Step 2</a>
                    </li>
                    <li class="nav-item col-1" data-target='submit-proposals.tabs'>
                      <a class="nav-link" href="#tab-3" data-target='submit-proposals.tabs' data-bs-toggle="tab" role="tab">Step 3</a>
                    </li>
                    <li class="nav-item col-2" data-target='submit-proposals.tabs'>
                      <a class="nav-link" href="#tab-4" data-target='submit-proposals.tabs' data-bs-toggle="tab" role="tab">Demographic Charts</a>
                    </li>
                    <li class="nav-item col-2" data-target='submit-proposals.tabs'>
                      <a class="nav-link" href="#tab-5" data-target='submit-proposals.tabs' data-bs-toggle="tab" role="tab">Staff Discussion</a>
                    </li>
                    <li class="nav-item col-2" data-target='submit-proposals.tabs'>
                      <a class="nav-link" href="#tab-6" data-target='submit-proposals.tabs' data-bs-toggle="tab" role="tab">Emails</a>
                    </li>
                    <li class="nav-item col-2" data-target='submit-proposals.tabs'>
                      <a class="nav-link" href="#tab-7" data-target='submit-proposals.tabs' data-bs-toggle="tab" role="tab">Activity Log</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab-1" role="tabpanel">
                      <h4 class="tab-title"></h4>
                      <div class="mb-3">
                        <p><%= @proposal.proposal_form.introduction&.html_safe %></p>
                      </div>
                      <div>
                        <%= label_tag :title %>
                      </div>
                      <div class="mb-3">
                        <%= text_field_tag :title, @proposal.title, disabled: true %>
                        <% if @submission && @proposal.title.blank? %>
                          <p class="field-validation">Title is required</p>
                        <% end %>
                      </div>

                      <div class="mb-3">
                        <label>Type of Meeting</label>
                        <p class="form-select w-25"><%= @proposal.proposal_type.name.titleize %></p>
                      </div>

                      <div class="mb-3">
                        <%= label_tag :year %>
                        <%= select_tag :year, options_for_select(proposal_type_year(@proposal.proposal_type),  @proposal.year), disabled: action, class: "form-select w-25", data: {'action': 'focus->auto-save-proposal#onFoucs blur->auto-save-proposal#onBlur'} %>
                      </div>
                      <div class="mb-3 row">
                        <h4>Subject Areas</h4>
                        <div class="col-6 mt-2">
                          <label class="required">Subject Area</label>
                          <%= select_tag :subject_id, options_for_select(subjects_area, @proposal.subject&.id), include_blank: '' , disabled: action, class: "form-select", data: {'action': 'focus->auto-save-proposal#onFoucs blur->auto-save-proposal#onBlur'} %>
                          <% if @submission && @proposal.subject&.id.nil? %>
                            <p class="field-validation">Subject is required</p>
                          <% end %>
                        </div>
                        <div class="col-6 mt-2">
                          <div class="mb-3">
                            <label class="required">AMS Subject Code 1</label>
                            <%= select_tag :ams_subjects, options_for_select(ams_subjects_code, proposal_ams_subjects_code(@proposal, 'code1')), include_blank: '', disabled: action, class: "form-select", name:'ams_subjects[code1]', data: {'action': 'focus->auto-save-proposal#onFoucs blur->auto-save-proposal#onBlur'} %>
                            <% if @submission && proposal_ams_subjects_code(@proposal, 'code1').blank? %>
                              <p class="field-validation">AMS Subject Code 1 is required</p>
                            <% end %>
                          </div>

                          <div class="mb-3">
                            <label class="required">AMS Subject Code 2</label>
                            <%= select_tag :ams_subjects, options_for_select(ams_subjects_code, proposal_ams_subjects_code(@proposal, 'code2')), include_blank: '', disabled: action, class: "form-select", name:'ams_subjects[code2]', data: {'action': 'focus->auto-save-proposal#onFoucs blur->auto-save-proposal#onBlur'} %>
                            <% if @submission && proposal_ams_subjects_code(@proposal, 'code2').blank? %>
                              <p class="field-validation">AMS Subject Code 2 is required</p>
                            <% end %>
                          </div>
                        </div>
                        <div>
                          <div>
                            <h3>Lead Organizer</h3>
                            <div class="mb-3 row border m-1 p-1">
                              <div class="col-6 mt-2">
                                <div class="mb-3">
                                  <label for="firstname">First Name: </label>
                                  <label for="firstname"><%= @proposal.lead_organizer.firstname %></label>
                                </div>
                                <div class="mb-3">
                                  <label for="lastname">Last Name: </label>
                                  <label for="lastname"><%= @proposal.lead_organizer.lastname %></label>
                                </div>
                                <div class="mb-3">
                                  <label for="email">Email: </label>
                                  <label for="email"><%= @proposal.lead_organizer.email %></label>
                                </div>
                                <% if @proposal.lead_organizer.affiliation.present? %>
                                  <div class="mb-3">
                                    <label>Affiliation: </label>
                                    <label><%= @proposal.lead_organizer.affiliation %></label>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                          </div>
                          <div>
                            <h3>Supporting Organizers:</h3>
                            <%= organizer_intro(@proposal) %>
                            <% if @proposal.invites %>
                              <% @proposal.invites.each do |invite|%>
                                <% if invite.invited_as == 'Organizer' %>
                                  <%= render partial: 'proposals/organizer', locals: { invite: invite } %>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="mt-4">
                            <div class="mb-3">
                              <h3>Participants:</h3>
                              <% if @proposal.invites %>
                                <% @proposal.invites.each do |invite|%>
                                  <% if invite.invited_as == 'Participant' %>
                                    <%= render partial: 'proposals/organizer', locals: { invite: invite } %>
                                  <% end %>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex flex-row-reverse">
                          <button id="changeTab" class="p-2 btn btn-primary" data-action='click->submit-proposals#nextTab'>Next</button>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane overflow-hidden" id="tab-2" role="tabpanel">
                      <div class="mb-3">
                        <p><%= @proposal.proposal_form.introduction2&.html_safe %></p>
                      </div>
                      <!-- <h4 class="tab-title">Common Fields</h4> -->
                      <%= render partial: 'proposal_forms/proposal_fields', locals: { proposal_fields: common_proposal_fields(@proposal) } %>

                      <div class="row mt-20">&nbsp;</div>
                      <div class="d-flex">
                        <%= link_to "Print Proposal", rendered_proposal_proposal_path(@proposal.id, :format => :pdf), target: '_blank', class: 'me-auto p-2 btn btn-primary',
                          :'data-action' => 'click->proposal-form#latex', :'data-value' => 'all' %>
                        <button id="changeTab" class="p-2 mx-2 btn btn-primary" data-action='click->submit-proposals#previousTab'>Back</button>
                        <button id="changeTab" class="p-2 btn btn-primary" data-action='click->submit-proposals#nextTab'>Next</button>
                       </div>
                    </div>
                    
                    <div class="tab-pane" id="tab-3" role="tabpanel">
                      <div class="mb-3">
                        <p><%= @proposal.proposal_form.introduction3&.html_safe %></p>
                      </div>

                      <div class="mb-3">
                        <%= label_tag :location, "Select your preferred location for this event:", class: 'form-label lead' %>
                        <%= select_tag "locations", options_for_select(proposal_type_locations(@proposal.proposal_type), location_in_answers(@proposal)), include_blank: '', data: {proposal_type: @proposal&.proposal_type&.id, 'submit-proposals-target': 'locationIds',action: 'change->submit-proposals#handleLocationChange'}, disabled: action, class: 'form-select w-50', multiple: true, name: 'location_ids[]' %>
                      </div>
                      <div data-submit-proposals-target='locationSpecificQuestions'></div>

                      <div class="row mt-20">&nbsp;</div>
                      <div class="d-flex">
                        <%= link_to "Print Proposal", rendered_proposal_proposal_path(@proposal.id, :format => :pdf), target: '_blank', class: 'p-2 mx-2 btn btn-primary', :'data-action' => 'click->proposal-form#latex', :'data-value' => 'all',  :'data-propid' => @proposal.id %>
                        <button class="ms-auto p-2 btn btn-primary" id="changeTab" data-action='click->submit-proposals#previousTab'>Back</button>
                      </div>
                    </div>

                    <div class="tab-pane" id="tab-4" role="tabpanel">
                      <div class="mb-3">
                        <p><%= @proposal.proposal_form.introduction_charts&.html_safe %></p>
                      </div>
                      <div class="row">
                        <div class="col-12 col-lg-6">
                          <div class="card flex-fill w-100">
                            <div class="card-header">
                              <h5 class="card-title">Nationality</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Nationality</th>
                                    <th>No.</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% nationality_data(@proposal).each do |key, value| %>
                                  <tr>
                                    <td><%= key %></td>
                                    <td><%=  value %></td>
                                  </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-lg-6">
                          <div class="card flex-fill w-100">
                            <div class="card-header">
                              <h5 class="card-title">Ethnicity</h5>
                            </div>
                            <div class="card-body">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Ethnicity</th>
                                    <th>No.</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% ethnicity_data(@proposal).each do |key, value| %>
                                  <tr>
                                    <td><%= key %></td>
                                    <td><%=  value %></td>
                                  </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-lg-6">
                          <div class="card flex-fill w-100">
                            <div class="card-header">
                              <h5 class="card-title">Gender</h5>
                              <!-- <h6 class="card-subtitle text-muted">A line chart is a way of plotting data points on a line.</h6> -->
                            </div>
                            <div class="card-body">
                              <div class="chart">
                                <canvas id="chartjs-gender"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-lg-6">
                          <div class="card flex-fill w-100">
                            <div class="card-header">
                              <h5 class="card-title">Under-represented minority in STEM</h5>
                              <!-- <h6 class="card-subtitle text-muted">A line chart is a way of plotting data points on a line.</h6> -->
                            </div>
                            <div class="card-body">
                              <div class="chart">
                                <canvas id="chartjs-stem"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex flex-row-reverse">
                          <button id="changeTab" class="p-2 btn btn-primary" data-action='click->submit-proposals#nextTab'>Next</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-lg-6">
                          <div class="card flex-fill w-100">
                            <div class="card-header">
                              <h5 class="card-title">Career Stage</h5>
                            </div>
                            <div class="card-body">
                              <div class="chart">
                                <canvas id="chartjs-career"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-20">&nbsp;</div>
                      <div class="d-flex">
                        <%= link_to "Print Proposal", rendered_proposal_proposal_path(@proposal.id, :format => :pdf), target: '_blank', class: 'p-2 mx-2 btn btn-primary' %>
                        <button class="ms-auto p-2 btn btn-primary" id="changeTab" data-action='click->submit-proposals#previousTab'>Back</button>
                      </div>
                    </div>

                    <div class="tab-pane" id="tab-5" role="tabpanel">
                      <h4 class="tab-title"></h4>
                      <div class="mb-3">
                        <%= render partial: "staff_discussion" %>
                      </div>
                    </div>

                    <div class="tab-pane" id="tab-6" role="tabpanel">
                      <h4 class="tab-title"></h4>
                      <div class="mb-3">
                        <%= render partial: "emails/form" %>
                      </div>
                    </div>

                    <div class="tab-pane" id="tab-7" role="tabpanel">
                      <h4 class="tab-title"></h4>
                      <div class="mb-3">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    new Chart(document.getElementById("chartjs-gender"), {
      type: "bar",
      data: {
        labels: <%= gender_labels(@proposal).to_json.html_safe %>,
        datasets: [{
          fill: true,
          backgroundColor: "rgba(50, 83, 168)",
          borderColor: window.theme.primary,
          data: <%= gender_values(@proposal) %>
        }]
      },
      options: {
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        },
        hover: {
          intersect: true
        },
        plugins: {
          filler: {
            propagate: false
          }
        },
        scales: {
          xAxes: [{
            reverse: true,
            gridLines: {
              color: "rgba(0,0,0,0.05)"
            }
          }],
          yAxes: [{
            ticks: {
              stepSize: 500
            },
            display: true,
            borderDash: [5, 5],
            gridLines: {
              color: "rgba(0,0,0,0)",
              fontColor: "#fff"
            }
          }]
        }
      }
    });

    new Chart(document.getElementById("chartjs-stem"), {
      type: "bar",
      data: {
        labels: <%= stem_labels(@proposal).to_json.html_safe %>,
        datasets: [{
          fill: true,
          backgroundColor: "rgba(50, 83, 168)",
          borderColor: window.theme.primary,
          data: <%= stem_values(@proposal) %>
        }]
      },
      options: {
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        },
        hover: {
          intersect: true
        },
        plugins: {
          filler: {
            propagate: false
          }
        },
        scales: {
          xAxes: [{
            reverse: true,
            gridLines: {
              color: "rgba(0,0,0,0.05)"
            }
          }],
          yAxes: [{
            ticks: {
              stepSize: 500
            },
            display: true,
            borderDash: [5, 5],
            gridLines: {
              color: "rgba(0,0,0,0)",
              fontColor: "#fff"
            }
          }]
        }
      }
    });

    new Chart(document.getElementById("chartjs-career"), {
      type: "bar",
      data: {
        labels: <%= career_labels(@proposal).to_json.html_safe %>,
        datasets: [{
          fill: true,
          backgroundColor: "rgba(50, 83, 168)",
          borderColor: window.theme.primary,
          data: <%= career_values(@proposal) %>
        }]
      },
      options: {
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        },
        hover: {
          intersect: true
        },
        plugins: {
          filler: {
            propagate: false
          }
        },
        scales: {
          xAxes: [{
            reverse: true,
            gridLines: {
              color: "rgba(0,0,0,0.05)"
            }
          }],
          yAxes: [{
            ticks: {
              stepSize: 500
            },
            display: true,
            borderDash: [5, 5],
            gridLines: {
              color: "rgba(0,0,0,0)",
              fontColor: "#fff"
            }
          }]
        }
      }
    });
  });
</script>
