<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposals
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" data-turbo="false">
          <li class="breadcrumb-item"> <%= link_to "Dashboard", dashboards_path %> </a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "Submitted Proposals", submitted_proposals_path %></li>
          <li class="breadcrumb-item active" aria-current="page">Show</li>
        </ol>
      </nav>
    </div>
    <%= form_with(url: submit_proposals_path(proposal: @proposal.id), html: {'data-turbo':false, id: 'submit_proposal' }) do  |f| %>
      <div class="row">
        <div class="col-12">
          <div class="card" style="background: #f4f7fc">
            <div class="card-body">
              <div data-controller="submit-proposals proposal-form"
                data-submit-proposals-proposal-type-id-value="<%= @proposal.proposal_type.id %>"
                data-submit-proposals-proposal-value="<%= @proposal.id %>" 
              >
                <div class="col-12 col-lg-12">
                  <div class="tab">
                    <ul id="tabs" class="nav nav-tabs row" role="tablist">
                      <li class="nav-item col-4" data-target='submit-proposals.tabs'>
                        <a class="nav-link active" href="#tab-1" data-bs-toggle="tab" role="tab" data-target='submit-proposals.tabs'>Step 1</a>
                      </li>
                      <li class="nav-item col-4" data-target='submit-proposals.tabs'>
                        <a class="nav-link" href="#tab-2" data-target='submit-proposals.tabs' data-bs-toggle="tab" role="tab">Step 2</a>
                      </li>
                      <li class="nav-item col-4" data-target='submit-proposals.tabs'>
                        <a class="nav-link" href="#tab-3" data-target='submit-proposals.tabs' data-bs-toggle="tab" role="tab">Step 3</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab-1" role="tabpanel">
                        <h4 class="tab-title"></h4>
                        <div class="mb-3">
                          <p><%= @proposal.proposal_form.introduction&.html_safe %></p>
                        </div>
                        <div class="mb-3">
                          <%= f.label :title, class: "required" %>
                          <%= f.text_field :title, class: 'form-control', disabled: action, value: @proposal.title, data: {'action': 'focus->auto-save-proposal#onFoucs blur->auto-save-proposal#onBlur'} %>
                          <% if @submission && @proposal.title.blank? %>
                            <p class="field-validation">Title is required</p>
                          <% end %>
                        </div>

                        <div class="mb-3">
                          <label>Type of Meeting</label>
                          <p class="form-select w-25"><%= @proposal.proposal_type.name.titleize %></p>
                        </div>

                        <div class="mb-3">
                          <%= f.label :year %>
                          <%= f.select :year, options_for_select(proposal_type_year(@proposal.proposal_type),  @proposal.year), {}, disabled: action, class: "form-select w-25", data: {'action': 'focus->auto-save-proposal#onFoucs blur->auto-save-proposal#onBlur'} %>
                        </div>
                        <div class="mb-3 row">
                          <h4>Subject Areas</h4>
                          <div class="col-6 mt-2">
                            <label class="required">Subject Area</label>
                            <%= f.select :subject_id, options_for_select(subjects_area, @proposal.subject&.id), { include_blank: '' }, disabled: action, class: "form-select", data: {'action': 'focus->auto-save-proposal#onFoucs blur->auto-save-proposal#onBlur'} %>
                            <% if @submission && @proposal.subject&.id.nil? %>
                              <p class="field-validation">Subject is required</p>
                            <% end %>
                          </div>
                          <div class="col-6 mt-2">
                            <div class="mb-3">
                              <label class="required">AMS Subject Code 1</label>
                              <%= f.select :ams_subjects, options_for_select(ams_subjects_code, proposal_ams_subjects_code(@proposal, 'code1')), { include_blank: '' }, disabled: action, class: "form-select", name:'ams_subjects[code1]', data: {'action': 'focus->auto-save-proposal#onFoucs blur->auto-save-proposal#onBlur'} %>
                              <% if @submission && proposal_ams_subjects_code(@proposal, 'code1').blank? %>
                                <p class="field-validation">AMS Subject Code 1 is required</p>
                              <% end %>
                            </div>

                            <div class="mb-3">
                              <label class="required">AMS Subject Code 2</label>
                              <%= f.select :ams_subjects, options_for_select(ams_subjects_code, proposal_ams_subjects_code(@proposal, 'code2')), { include_blank: '' }, disabled: action, class: "form-select", name:'ams_subjects[code2]', data: {'action': 'focus->auto-save-proposal#onFoucs blur->auto-save-proposal#onBlur'} %>
                              <% if @submission && proposal_ams_subjects_code(@proposal, 'code2').blank? %>
                                <p class="field-validation">AMS Subject Code 2 is required</p>
                              <% end %>
                            </div>
                          </div>
                          <div>
                            <div>
                              <h3>Lead Organizer</h3>
                              <div class="mb-3 row border m-1 p-1">
                                <div class="col-6 mt-2">
                                  <div class="mb-3">
                                    <label for="firstname">First Name: </label>
                                    <label for="firstname"><%= @proposal.lead_organizer.firstname %></label>
                                  </div>
                                  <div class="mb-3">
                                    <label for="lastname">Last Name: </label>
                                    <label for="lastname"><%= @proposal.lead_organizer.lastname %></label>
                                  </div>
                                  <div class="mb-3">
                                    <label for="email">Email: </label>
                                    <label for="wmail"><%= @proposal.lead_organizer.email %></label>
                                  </div>
                                  <% if @proposal.lead_organizer.affiliation.present? %>
                                    <div class="mb-3">
                                      <label>Affiliation: </label>
                                      <label><%= @proposal.lead_organizer.affiliation %></label>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                            <div>
                              <h3>Supporting Organizers:</h3>
                              <%= organizer_intro(@proposal) %>
                              <% if @proposal.invites %>
                                <% @proposal.invites.each do |invite|%>
                                  <% if invite.invited_as == 'Co Organizer' %>
                                    <%= render partial: 'proposals/organizer', locals: { invite: invite } %>
                                  <% end %>
                                <% end %>
                              <% end %>
                            </div>
                            <div class="mt-4">
                              <div class="mb-3">
                                <h3>Participants:</h3>
                                <% if @proposal.invites %>
                                  <% @proposal.invites.each do |invite|%>
                                    <% if invite.invited_as == 'Participant' %>
                                      <%= render partial: 'proposals/organizer', locals: { invite: invite } %>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex flex-row-reverse">
                            <button id="changeTab" class="p-2 btn btn-primary" data-action='click->submit-proposals#nextTab'>Next</button>
                          </div>
                        </div>
                      </div>

                      <div class="tab-pane overflow-hidden" id="tab-2" role="tabpanel">
                        <div class="mb-3">
                          <p><%= @proposal.proposal_form.introduction2&.html_safe %></p>
                        </div>
                        <!-- <h4 class="tab-title">Common Fields</h4> -->
                        <%= render partial: 'proposal_forms/proposal_fields', locals: { proposal_fields: common_proposal_fields(@proposal) } %>

                        <div class="row mt-20">&nbsp;</div>
                        <div class="d-flex">
                          <%= link_to "Print Proposal", rendered_proposal_proposals_path(@proposal.id, :format => :pdf), target: '_blank', class: 'me-auto p-2 btn btn-primary',
                            :'data-action' => 'click->proposal-form#latex', :'data-value' => 'all' %>
                          <button id="changeTab" class="p-2 mx-2 btn btn-primary" data-action='click->submit-proposals#previousTab'>Back</button>
                          <button id="changeTab" class="p-2 btn btn-primary" data-action='click->submit-proposals#nextTab'>Next</button>
                         </div>
                      </div>
                      
                      <div class="tab-pane" id="tab-3" role="tabpanel">
                        <div class="mb-3">
                          <p><%= @proposal.proposal_form.introduction3&.html_safe %></p>
                        </div>

                        <div class="mb-3">
                          <%= f.label :location, "Select your preferred location for this event:", class: 'form-label lead' %>
                          <%= f.select "locations", options_for_select(proposal_type_locations(@proposal.proposal_type), location_in_answers(@proposal)),{ include_blank: '' }, data: {proposal_type: @proposal&.proposal_type&.id, 'submit-proposals-target': 'locationIds',action: 'change->submit-proposals#handleLocationChange'}, disabled: action, class: 'form-select w-50', multiple: true, name: 'location_ids[]' %>
                        </div>
                        <div data-submit-proposals-target='locationSpecificQuestions'></div>

                        <div class="row mt-20">&nbsp;</div>
                        <div class="d-flex">
                          <%= link_to "Print Proposal", rendered_proposal_proposals_path(@proposal.id, :format => :pdf), target: '_blank', class: 'p-2 mx-2 btn btn-primary', :'data-action' => 'click->proposal-form#latex', :'data-value' => 'all',  :'data-propid' => @proposal.id %>
                          <button class="ms-auto p-2 btn btn-primary" id="changeTab" data-action='click->submit-proposals#previousTab'>Back</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</main>
