<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposal Type
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <%= link_to "Dashboard", dashboards_path %> </li>
          <li class="breadcrumb-item"> <%= link_to "Proposal Types", proposal_types_path %> </li>
          <% if @proposal_type.new_record? %>
            <li class="breadcrumb-item active" aria-current="page">New</li>
          <% else %>
             <li class="breadcrumb-item active" aria-current="page">Edit</li>
          <% end %>
        </ol>
      </nav>
    </div>
    <div class="col-10">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title" id="proposal_type_head_name"><%= @proposal_type.name %></h5>
        </div>
        <div class="card-body">
          <%= form_for @proposal_type do |f| %>
          <div class="mb-3">
            <%= f.label :name , class: 'form-label' %><br>
            <%= f.text_field :name %>
          </div>

          <div class="mb-3">
            <%= f.label :year, class: 'form-label' %><br>
            <%= f.text_field :year, class: 'form-control' %>
            <small>This text field supports a list of years i.e. 2021, 2022..</small>
          </div>

          <div class="mb-3">
            <%= f.label :'Maximum number of Co Organizers' , class: 'form-label' %><br>
            <%= f.number_field :co_organizer %>
          </div>

          <div class="mb-3">
            <%= f.label :'Maximum number of Participants', class: 'form-label' %><br>
            <%= f.number_field :participant %>
          </div>

          <div class="mb-3">
            <%= f.label :Location , class: 'form-label' %><br>
            <%= f.select :location_ids, locations, {}, class: 'form-control', multiple: true %>
          </div>
          <%= f.submit @proposal_type.new_record? ? "Create Proposal Type" : "Update Proposal Type", class:  'btn btn-primary' %>
          <%= link_to "Back", proposal_types_path, class: 'btn btn-primary  '%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
