<main class="content" data-controller="proposal-types">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposal Types
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <%= link_to "Dashboard", dashboards_path %> </li>
          <li class="breadcrumb-item active" aria-current="page">Proposal Types</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <%= link_to "Create Proposal Type", new_proposal_type_path, class: 'btn btn-primary' %>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th style="width:40%;">Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @proposal_types.each do |proposal_type|%>                     
                <tr>
                  <td><%= proposal_type.name %></td>
                  <td class="table-action">
                    <%= link_to '<i class="align-middle fas fa-fw fa-pen" data-toggle="tooltip" title="Edit"></i>Edit'.html_safe, edit_proposal_type_path(proposal_type) %>
                    <%= link_to '<i class="align-middle fas fa-fw fa-trash" data-toggle="tooltip" title="Delete" ></i>Delete'.html_safe, proposal_type_path(proposal_type), method: :delete ,
                      data: {confirm: "Are you sure you want to delete #{proposal_type.name}?"} %>
                    <%= link_to 'Proposal forms',  proposal_forms_proposal_type_path(proposal_type), class: 'btn btn-pill btn-primary text-white'%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

