<%= render partial: 'layouts/sidebar' %>

<div class="main-content" id="panel">
  <div class="container-fluid mt-4">
    <h2>Proposal Types</h2>
    <%= link_to "Create proposal type", new_proposal_type_path, class: 'btn btn-sm btn-primary float-end' %>
    <div class="card mt-5">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @proposal_types.each do |proposal_type| %>
            <tr>
              <td>
                <%=  proposal_type.name %>
              </td>
              <td>
                <%= link_to "Edit", edit_proposal_type_path(proposal_type), class: 'btn-sm btn btn-primary' %>
                <%= link_to "Delete", proposal_type_path(proposal_type), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn btn-danger' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
