<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @person&.fullname %>:</p>
    <p>
      This is a friendly reminder to indicate your interest in being a supporting organizer for a proposed <%= @proposal.proposal_type.name %> titled “<%= @proposal.title %>”, which is currently being organized by <%= @proposal.lead_organizer&.fullname %><%= @existing_organizers %>. If successful, the program would take place at some time during the 2023 calendar year.
    </p>
    <p>
      Please click through on the following link to indicate your interest by <%= @invite.deadline_date.to_date %>.
    </p>
    <p><%= link_to 'Click here', invite_url(code: @invite.code) %></p>
    <p>Thank you for considering this request!</p>
    <p>Banff International Research Station</p>
    <p>And the organizing committee.</p>
  </body>
</html>
