<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @person&.fullname %>:</h1>
    <p>
      <%= @proposal.lead_organizer&.fullname %> and <%= @existing_co_organizers %> are putting together a proposal for a <%= @proposal.proposal_type.name %> titled "<%= @proposal.title %>" for submission to the Banff International Research Station. If successful, the program would take place at some time during the 2023 calendar year.
    </p>
    <p>
      This invitation is intended to gauge your interest in being a <%= @invite.invited_as.downcase %> for this proposed workshop, provided that it is accepted and that the dates work with your schedule. Your response would help the organizing committee and the BIRS review committee determine the appeal of this proposed workshop to the wider mathematical community.
    </p>
    <p>
      Kindly indicate your response at the link below:
    </p>
    <p><%= link_to 'Click here', proposal_invite_url(@proposal,@invite, code: @invite.code) %></p>
    <p>Thank you for considering this request!</p>
    <p>Banff International Research Station,<br>
        and the organizing committee.</p>
  </body>
</html>
