<%= form_for field, data: {controller: 'nested-form nested-options', nested_form_wrapper_selector_value: '.nested-form-wrapper',nested_options_wrapper_selector_value: '.nested-options-wrapper'}, url: 'proposal_fields?type=MultiChoice' do |f| %>
  <div class="mb-3">
    <%= f.label :statement, class: 'form-label' %>
    <%= f.text_field :statement, required: true, class:'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :location , class: 'form-label'%>
    <%= f.select :location_id, proposal_type_locations(@proposal_form.proposal_type),{:include_blank => 'Select location if this field is location based'} ,class:'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :description , class: 'form-label'%>
    <%=f.text_area(:description, size: '3x5', class:'form-control') %>
  </div>
  <div class="mb-3">
    <%= f.label :guideline_link , class: 'form-label'%>
    <%= f.text_field :guideline_link, class:'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :position , class: 'form-label'%>
    <%= f.number_field :position, required: true, class:'form-control' %>
  </div>
  <div>
    <template data-nested-options-target="template">
      <%= f.fields_for :options, Option.new, child_index: 'NEW_RECORD' do |opt| %>
        <%= render partial: 'options_form', locals: { f:opt } %>
      <% end %>
    </template>
   <%= f.fields_for :options do |opt| %>
      <%= render partial: 'options_form', locals: { f:opt } %>
    <% end %>
    <div data-nested-options-target="target"></div>
    <button type="button" class="btn btn-primary btn-sm my-2" data-action="nested-options#add">
      Add option
    </button>
  </div>
  <div>
    <template data-nested-form-target="template">
      <%= f.fields_for :validations, Validation.new, child_index: 'NEW_RECORD' do |validation| %>
        <%= render partial: 'validations_form', locals: {f: validation} %>
      <% end %>
    </template>
    <%= f.fields_for :validations do |validation| %>
      <%= render partial: 'validations_form', locals: {f: validation} %>
    <% end %>
    <div data-nested-form-target="target"></div>
    <button type="button" class="btn btn-primary btn-sm my-2" data-action="nested-form#add">
      Add Validation
    </button>
  </div>
  
  <div class="form-group">
    <%= f.submit 'submit', class: 'btn btn-primary' %>
  </div>
<% end %>
