<%= form_for field, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }, url: 'proposal_fields?type=PreferredImpossibleDate' do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="mb-3">
    <%= f.label :statement, class: 'form-label' %>
    <%= f.text_field :statement, required: true, class:'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :location, class: 'form-label' %>
    <%= f.select :location_id, proposal_type_locations(@proposal_form.proposal_type),{:include_blank => 'Select location if this field is location based'} ,class:'form-select' %>
  </div>
  <div class="mb-3">
    <%= f.label :description , class: 'form-label'%>
    <%=f.text_area(:description, size: '3x5', class:'form-control') %>
  </div>
  <div class="mb-3">
    <%= f.label :guideline_link , class: 'form-label'%>
    <%= f.text_field :guideline_link, class:'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :position , class: 'form-label'%>
    <%= f.number_field :position, required: true, class:'form-control' %>
  </div>
  <%= f.fields_for field.fieldable do |field| %>
      <div class="mb-3">
        <%= field.label :preferred_dates1 %><br>
        <small>This text field supports comma separated dates</small>
        <%= field.text_area :preferred_dates1, size: '2x5', class: 'form-control', required:true, placeholder: '01/15/23 to 01/20/23, 01/22/23 to 01/27/23' %>
      </div>
      <div class="mb-3">
        <%= field.label :preferred_dates2 %><br>
        <small>This text field supports comma separated dates</small>
        <%= field.text_area :preferred_dates2, size: '2x5', class: 'form-control', required:true, placeholder: '01/15/23 to 01/20/23, 01/22/23 to 01/27/23' %>
      </div>
      <div class="mb-3">
        <%= field.label :preferred_dates3 %><br>
        <small>This text field supports comma separated dates</small>
        <%= field.text_area :preferred_dates3, size: '2x5', class: 'form-control', required:true, placeholder: '01/15/23 to 01/20/23, 01/22/23 to 01/27/23' %>
      </div>
      <div class="mb-3">
        <%= field.label :preferred_dates4 %><br>
        <small>This text field supports comma separated dates</small>
        <%= field.text_area :preferred_dates4, size: '2x5', class: 'form-control', required:true, placeholder: '01/15/23 to 01/20/23, 01/22/23 to 01/27/23' %>
      </div>
      <div class="mb-3">
        <%= field.label :preferred_dates5 %><br>
        <small>This text field supports comma separated dates</small>
        <%= field.text_area :preferred_dates5, size: '2x5', class: 'form-control', required:true, placeholder: '01/15/23 to 01/20/23, 01/22/23 to 01/27/23' %>
      </div>
      <div class="mb-3">
        <%= field.label :impossible_dates_1 %><br>
        <small>This text field supports comma separated dates</small>
        <%= field.text_area :impossible_dates_1, size: '2x5', class: 'form-control', required:true, placeholder: '01/15/23 to 01/20/23, 01/22/23 to 01/27/23' %>
      </div>
      <div class="mb-3">
        <%= field.label :impossible_dates_2 %><br>
        <small>This text field supports comma separated dates</small>
        <%= field.text_area :impossible_dates_2, size: '2x5', class: 'form-control', required:true, placeholder: '01/15/23 to 01/20/23, 01/22/23 to 01/27/23' %>
      </div>
  <% end %>
  	
  <div>
    <template data-nested-form-target="template">
      <%= f.fields_for :validations, Validation.new, child_index: 'NEW_RECORD' do |validation| %>
        <%= render partial: 'validations_form', locals: {f: validation} %>
      <% end %>
    </template>
    <%= f.fields_for :validations do |validation| %>
      <%= render partial: 'validations_form', locals: {f: validation} %>
    <% end %>
    <div data-nested-form-target="target"></div>
    <button type="button" class="btn btn-primary btn-sm my-2" data-action="nested-form#add">
      Add Validation
    </button>
  </div>
  <div class="mb-3">
    <%= f.submit 'submit', class: 'btn  btn-primary' %>
  </div>
<% end %>
