<%= form_for field, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }, url: 'proposal_fields?type=SingleChoice' do |f| %>
  <div class="mb-3">
    <%= f.label :statement , class: 'form-label'%>
    <%= f.text_field :statement, required: true, class:'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :location , class: 'form-label'%>
    <%= f.select :location_id, proposal_type_locations(@proposal_form.proposal_type),{:include_blank => 'Select location if this field is location based'} ,class:'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :description, class: 'form-label' %>
    <%=f.text_area(:description, size: '3x5', class:'form-control') %>
  </div>
  <div class="mb-3">
    <%= f.label :guideline_link , class: 'form-label'%>
    <%= f.text_field :guideline_link, class:'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :position, class: 'form-label' %>
    <%= f.number_field :position, required: true, class:'form-control' %>
  </div>

  <%= render partial: 'options_form', locals: { f: f } %>
  <div>
    <template data-nested-form-target="template">
      <%= f.fields_for :validations, Validation.new, child_index: 'NEW_RECORD' do |validation| %>
        <%= render partial: 'validations_form', locals: {f: validation} %>
      <% end %>
    </template>
    <%= f.fields_for :validations do |validation| %>
      <%= render partial: 'validations_form', locals: {f: validation} %>
    <% end %>
    <div data-nested-form-target="target"></div>
    <button type="button" class="btn btn-primary btn-sm my-2" data-action="nested-form#add">
      Add Validation
    </button>
  </div>
  <div class="mb-3">
    <%= f.submit 'submit', class: 'btn btn-primary' %>
  </div>
<% end %>
