<div class="splash">
  <div class="splash-icon"></div>
</div>
<main class="main h-100 w-100">
  <div class="container h-100">
  <div class="row h-100">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
      <div class="d-table-cell align-middle">
        <div class="text-center mt-4">
          <h1 class="h2">Welcome to BIRS Proposals</h1>
          <p class="lead">
            Please create an account, or sign in, to continue
          </p>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="m-sm-4">
              <div class="text-center">
                <%= image_tag "logo.png", class: 'img-fluid mb-4', alt: 'logo' %>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {'data-turbo':'false'}) do |f| %>
                <div class="text-start">
                  <label>Email:</label>
                  <%= f.email_field :email, class:"form-control",placeholder: "Your Email Address", autofocus: true, autocomplete: "email" %>
                </div>
                <div class="text-start mt-4">
                  <label>Password:</label>
                  <%= f.password_field :password, class:"form-control",placeholder: "Your Password", autocomplete: "current-password" %>
                  <div class="text-end">
                    <small>
                    <%= link_to "Forgot password?", new_password_path(resource_name) %>
                    </small>
                  </div>
                </div>
                <% if devise_mapping.rememberable? %>
                <div class="form-check text-start">
                  <%= f.check_box :remember_me, class:"form-check-input", id: "customControlInline", value: 'remember-me', name: 'remember-me', checked: true %>
                  <label class="form-check-label text-small" for="customControlInline">Remember me next time</label>
                </div>
                <% end %>
                <div class="text-start mt-3">
                  <%= f.submit "Sign in", class:"btn btn-lg btn-primary" %>
                </div>
                <% end %>
              </div>
              <div class="text-end">
                <small>
                  <%= link_to "Create an account", new_registration_path(resource_name) %>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
