<div class="mb-3 row border m-1">
  <div class="col-6 mt-2">
    <div class="mb-3">
      <label for="firstname">First Name: </label>
      <label for="firstname"><%= invite.firstname %></label>
    </div>
    <div class="mb-3">
      <label for="lastname">Last Name: </label>
      <label for="lastname"><%= invite.lastname %></label>
    </div>
    <div class="mb-3">
      <label for="email">Email: </label>
      <label for="email"><%= invite.email %></label>
    </div>
  </div>
  <div class="col-6 mt-2">
    <div class="mb-3">
      <% if invite.person.affiliation.present? %>
        <div class="mb-3">
          <label>Affiliation: </label>
          <label><%= invite.person.affiliation %></label>
        </div>
      <% end %>
    </div>
    <div class="mb-3">
      <% if invite.person.academic_status.present? %>
        <div class="mb-3">
          <label>Career Stage: </label>
          <label><%= invite.person.academic_status %></label>
        </div>
      <% end %>
    </div>
  </div>
</div>

