<div>
  <div class="mb-3">
    <label class="required" for="firstname">First Name</label>
    <input type="text" name="invite[firstname]" class="form-control" id="<%= invited_as %>_firstname">
  </div>
  <div class="mb-3">
    <label for="lastname" class="required">Last Name</label>
    <input type="text" name="invite[lastname]" class="form-control" id="<%= invited_as %>_lastname">
  </div>
  <div class="mb-3">
    <label for="email" class="required">Email</label>
    <input type="email" name="invite[email]" class="form-control" id="<%= invited_as %>_email">
  </div>
  <div class="mb-3">
    <label for="invited_as">Invited as</label>
     <%= select_tag 'invited_as', options_for_select([['Co-Organizer', 'organizer'],['Participant', 'participant']], invited_as), class: "form-select", disabled: true %>
  </div>
  <div class="mb-3">
    <label for="deadline" class="required">Deadline for reply</label>
    <input type="date" name="invite[deadline_date]" class="form-control" id="<%= invited_as %>_deadline" value="<%= date %>">
  </div>
  <div class="mb-3">
    <span class='btn btn-primary' data-action="click->submit-proposals#SendInvitation" id="<%= invited_as %>" data-propid="<%= @proposal.id %>">Send Invitation</span>
  </div>
</div>
