<div>
  <div class="mb-3">
    <label class="required" for="firstname">First Name</label>
    <input type="text" name="invite[firstname]" class="form-control" id="<%= invited_as %>_firstname"
           data-role="<%= invited_as %>"
           data-action="change->proposal-form#disableOtherInvites">
  </div>
  <div class="mb-3">
    <label for="lastname" class="required">Last Name</label>
    <input type="text" name="invite[lastname]" class="form-control" id="<%= invited_as %>_lastname"
           data-role="<%= invited_as %>"
           data-action="change->proposal-form#disableOtherInvites">
  </div>
  <div class="mb-3">
    <label for="email" class="required">Email</label>
    <input type="email" name="invite[email]" class="form-control" id="<%= invited_as %>_email"
           data-role="<%= invited_as %>"
           data-action="change->proposal-form#disableOtherInvites">
  </div>
  <div class="mb-3">
    <label for="deadline" class="required">Deadline for reply</label>
    <input type="date" name="invite[deadline_date]" class="form-control" id="<%= invited_as %>_deadline" value="<%= date %>">
  </div>
  <input type="hidden" name="invited_as" value="<%= invited_as %>" />
  <div class="mb-3">
    <span class='btn btn-primary' data-action="click->submit-proposals#SendInvitation" id="<%= invited_as %>" data-propid="<%= @proposal.id %>">Send Invitation</span>
  </div>
</div>
