<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposals
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
           <li class="breadcrumb-item"> <%= link_to "Dashboard", dashboards_path %> </a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "Proposals", proposals_path %></li>
          <% if params[:action] == 'edit' %>
            <li class="breadcrumb-item active" aria-current="page"><%= link_to @proposal.proposal_type.name, edit_proposal_path(@proposal) %></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
          <% else %>
            <li class="breadcrumb-item active" aria-current="page"><%= link_to @proposal.proposal_type.name, proposal_url(@proposal) %></li>
            <li class="breadcrumb-item active" aria-current="page">Show</li>
          <% end %>
        </ol>
      </nav>
    </div>
    <%= form_with(url: submit_proposals_path(proposal: @proposal.id)) do  |f| %>
      <div class="row">
        <div class="col-12">
          <div class="card" style="background: #f4f7fc">
            <div class="card-body">
              <div data-controller="submit-proposals proposal-form"  data-submit-proposals-proposal-type-id-value="<%= @proposal.proposal_type.id %>"
                    data-submit-proposals-proposal-value="<%= @proposal.id %>" > 
                <div class="mb-3">
                  <% if params[:action] == 'edit' %>
                    <% if lead_organizer?(@proposal.proposal_roles) %> 
                      <%= link_to 'Invite People', proposal_invites_path(@proposal), title: 'Invite as a Participant or Co Organizer', 'data-toggle' => 'tooltip', class:'btn btn-primary' %>
                      <% if @proposal.draft? %>
                        <div class="float-end">
                          <%= f.submit 'Save as draft', class:'btn btn-primary' %>
                          <%= f.submit 'Submit Proposal', data: {confirm: "This step is final and cannot be reversed. You cannot edit your proposal after submission. Proceed?"}, class:'btn btn-primary' %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              <div class="col-12 col-lg-12">
                <div class="tab">
                  <ul id="tabs" class="nav nav-tabs row" role="tablist">
                    <li class="nav-item active col-4" data-target='submit-proposals.tabs'><a class="nav-link active" href="#tab-1" data-bs-toggle="tab" role="tab" data-target='submit-proposals.tabs'>Step 1</a></li>
                    <li class="nav-item col-4" data-target='submit-proposals.tabs'><a class="nav-link" href="#tab-2" data-target='submit-proposals.tabs' data-bs-toggle="tab" role="tab">Step 2</a></li>
                    <li class="nav-item col-4" data-target='submit-proposals.tabs'><a class="nav-link" href="#tab-3" data-target='submit-proposals.tabs' data-bs-toggle="tab" role="tab">Step 3</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab-1" role="tabpanel">
                      <h4 class="tab-title"></h4>
                      <div class="mb-3">
                        <p><%= @proposal.proposal_form.introduction.html_safe %></p>
                      </div>
                      <div class="mb-3">
                        <%= f.label :title %>
                        <%= f.text_field :title, class: 'form-control', disabled: action, value: @proposal.title %>
                        <% if params[:publish] && @proposal.title.blank? %>
                          <p style="color: red">Title is required</p>
                        <% end %>
                      </div>

                      <div class="mb-3">
                        <label>Type of Meeting</label>
                        <%= f.label @proposal.proposal_type.name.titleize, class: 'form-select w-25' %>
                      </div>

                      <div class="mb-3">
                        <%= f.label :year %>
                        <%= f.select :year, options_for_select(proposal_type_year(@proposal.proposal_type),  @proposal.year), {}, disabled: action, class: "form-select w-25"%>
                      </div>
                      <div class="mb-3 row">
                        <h4>Subject Areas</h4>
                        <div class="col-6 mt-2">
                          <label>Subject Area</label>
                          <%= f.select :subject_id, options_for_select(subjects_area, @proposal.subject&.id), { include_blank: '' }, disabled: action, class: "form-select"%>
                          <% if params[:publish] && @proposal.subject&.id.nil? %>
                            <p style="color: red">Subject is required</p>
                          <% end %>
                        </div>
                        <div class="col-6 mt-2">
                          <div class="mb-3">
                            <label>AMS Subject Code 1</label>
                            <%= f.select :ams_subjects, options_for_select(ams_subjects_code, proposal_ams_subjects_code(@proposal, 'code1')), { include_blank: '' }, disabled: action, class: "form-select", name:'ams_subjects[code1]'%>
                            <% if params[:publish] && proposal_ams_subjects_code(@proposal, 'code1').blank? %>
                              <p style="color: red">AMS Subject Code 1 is required</p>
                            <% end %>
                          </div>

                          <div class="mb-3">
                            <label>AMS Subject Code 2</label>
                            <%= f.select :ams_subjects, options_for_select(ams_subjects_code, proposal_ams_subjects_code(@proposal, 'code2')), { include_blank: '' }, disabled: action, class: "form-select", name:'ams_subjects[code2]'%>
                            <% if params[:publish] && proposal_ams_subjects_code(@proposal, 'code2').blank? %>
                              <p style="color: red">AMS Subject Code 2 is required</p>
                            <% end %>
                          </div>
                          <div class="mb-5">
                            <button style="float: right;" id="changeTab" class="btn btn-primary" data-action='click->submit-proposals#nextTab'>Next</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane" id="tab-2" role="tabpanel" style="overflow: auto;">
                      <!-- <h4 class="tab-title">Common Fields</h4> -->
                      <%= render partial: 'proposal_forms/proposal_fields', locals: { proposal_fields: common_proposal_fields(@proposal) } %>
                    <div class="float-end">
                      <button id="changeTab" class="btn btn-primary mx-2" data-action='click->submit-proposals#nextTab'>Next</button>
                       <button id="changeTab" class="btn btn-primary" data-action='click->submit-proposals#previousTab'>Back</button>
                     </div>
                  </div>
                    
                    <div class="tab-pane" id="tab-3" role="tabpanel">
                      <!-- <h4 class="tab-title">Location Fields</h4> -->
                      <div class="mb-3">
                        <%= f.label :location, "Select your preferred location for this event:", class: 'form-label lead' %>
                        <%= f.select "locations", options_for_select(proposal_type_locations(@proposal.proposal_type), location_in_answers(@proposal)),{ include_blank: '' }, data: {proposal_type: @proposal&.proposal_type&.id, 'submit-proposals-target': 'locationIds',action: 'change->submit-proposals#handleLocationChange'}, disabled: action, class: 'form-select w-50', multiple: false, name: 'location_ids[]' %>
                      </div>
                      <div data-submit-proposals-target='locationSpecificQuestions'></div>
                      <div class="mb-5">
                        <button style="float: right;" id="changeTab" class="btn btn-primary" data-action='click->submit-proposals#previousTab'>Back</button>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</main>
