<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposals
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
           <li class="breadcrumb-item"> <%= link_to "Dashboard", dashboards_path %> </a></li>
          <li class="breadcrumb-item active" aria-current="page">Proposals</li>
          <li class="breadcrumb-item active" aria-current="page">New</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div data-controller="submit-proposals"  data-submit-proposals-proposal-type-id-value="<%= @proposal.proposal_type.id %>"
            data-submit-proposals-proposal-value="<%= @proposal.id %>"
              >  
              <h2>You'r submitting proposal for <%= @proposal.proposal_type.name %></h2>
                <%= form_with url: submit_proposals_path(proposal: @proposal.id) do  |f| %>
                  <div class="col-lg-8 mt-5">
                    <%= render partial: 'proposal_forms/proposal_fields', locals: { proposal_fields: common_proposal_fields(@proposal.proposal_type) } %>
                      <div class="mb-3">
                        <%= f.label :location , class: 'form-label'%>
                        <%= f.select "location", options_for_select(proposal_type_locations(@proposal.proposal_type), location_in_answers(@proposal)),{}, data: {proposal_type: @proposal&.proposal_type&.id, 'submit-proposals-target': 'locationIds', action: 'change->submit-proposals#handleLocationChange'}, class: 'form-control', multiple: true, name: 'location_ids[]' %>
                      </div>
                      <div data-submit-proposals-target='locationSpecificQuestions'></div>
                      <% if @proposal.draft? %>
                        <div class="form-group">
                          <%= f.submit 'Save as draft', class:'btn btn-primary' %>
                          <%= f.submit 'Publish', class:'btn btn-primary' %>
                        </div>
                      <% end %>
                    </div>
                    <%end%>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
