<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposals
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Dashboard", dashboards_path %> </a></li>
          <li class="breadcrumb-item active" aria-current="page">Proposals</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            </h6>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Proposal Type</th>
                <th>Status</th>
                <th>Created</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @proposals&.each do |proposal| %>
              <tr>
                <td><%= proposal.proposal_type.name %></td>
                <td><%= proposal.status %></td>
                <td><%= proposal.created_at.to_date %></td>
                <td class="table-action">
                  <% if proposal.draft? %>
                   <%= link_to '<i class="align-middle fas fa-fw fa-pen"></i>'.html_safe, edit_proposal_path(proposal) %>
                  <% end %>
                  <%= link_to '<i class="align-middle fas fa-fw fa-trash"></i>'.html_safe, proposal_path(proposal), method: :delete ,
                    data: {confirm: "Are you sure you want to delete #{proposal.proposal_type.name}?"} %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
