<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposals
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Dashboard", dashboards_path %> </a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "Proposals", proposals_path %></li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            </h6>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Proposal Title</th>
                <th>Proposal Type</th>
                <th>Role</th>
                <th>Location</th>
                <th>Status</th>
                <th>Created</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @proposals&.each do |proposal| %>
              <tr>
                <td><%= proposal.title %></td>
                <td><%= proposal.proposal_type.name %></td>
                <td><%= proposal_roles(proposal.proposal_roles) %></td>
                <td> 
                  <% proposal.locations.each do |loc| %>
                   <%= loc.name %><br>
                  <% end %>
                </td>
                <td><%= proposal.status %></td>
                <td><%= proposal.created_at.to_date %></td>
                <% if lead_organizer?(proposal.proposal_roles) %>
                  <td class="table-action">
                    <% if proposal.draft? %>
                     <%= link_to '<i class="align-middle fas fa-fw fa-pen"></i>Edit'.html_safe, edit_proposal_path(proposal) %>
                    <% end %>
                    <%= link_to '<i class="align-middle fas fa-fw fa-trash"></i>Delete'.html_safe, proposal_path(proposal), method: :delete ,
                      data: {confirm: "Are you sure you want to delete #{proposal.proposal_type.name}?"} %>
                  </td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
