<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Location Form
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Dashboard", dashboards_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "Locations", locations_path %> </li>
          <% if @location.name %>
          <li class="breadcrumb-item active" aria-current="page">Edit</li>
          <% else %>
          <li class="breadcrumb-item active" aria-current="page">New Location</li>
          <% end %>
        </ol>
      </nav>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><%= @location.name %></h5>
        </div>
        <div class="card-body">
          <%= form_for @location do |f| %>
            <% if location.errors.any? %>
              <div >
                <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>
                <ul>
                  <% location.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="mb-3">
              <%= f.label :Name , class: 'form-label' %><br>
              <%= f.text_field :name %>
            </div>
            <div class="mb-3">
              <%= f.label :Code , class: 'form-label' %><br>
              <%= f.text_field :code %>
            </div>
            <div class="mb-3">
              <%= f.label :City , class: 'form-label' %><br>
              <%= f.text_field :city %>
            </div>
            <div class="mb-3">
              <%= f.label :Country , class: 'form-label' %><br>
              <%= f.text_field :country %>
            </div>
            <%= f.submit @location.new_record? ? "Create New Location" : "Update Location", class:  'btn btn-primary' %>
            <%= link_to "Back", locations_path, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
