<%= render 'layouts/sidebar' %>
<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Locations
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Dashboard", dashboards_path %></li>
          <li class="breadcrumb-item active" aria-current="page">Locations</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            </h6>
            <%= link_to "New Location", new_location_path, class: 'btn btn-primary' %>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Code</th>
                <th>City</th>
                <th>Country</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @locations.each do |location|%>
              <tr>
                <td> <%= location.name %> </td>
                <td> <%=location.code %> </td>
                <td> <%=location.city %> </td>
                <td> <%=location.country %> </td>
                <td class="table-action">
                  <%= link_to '<i class="align-middle fas fa-fw fa-eye"></i>'.html_safe, location_path(location) %>
                  <%= link_to '<i class="align-middle fas fa-fw fa-pen"></i>'.html_safe, edit_location_path(location) %>
                  <%= link_to '<i class="align-middle fas fa-fw fa-trash"></i>'.html_safe, location_path(location), method: :delete ,
                    data: {confirm: "Are you sure you want to delete #{location.name}?"} %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
