<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Locations
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <%= link_to "Dashboard", dashboards_path %> </li>
          <li class="breadcrumb-item"> <%= link_to "Locations", locations_path %> </li>
          <li class="breadcrumb-item active" aria-current="page"><%= @location.name %></li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"><%= @location.name %></h5>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">Name: </label>
              <label class="form-label" id="location_name"> <%= @location.name %> </label>
            </div>
            <div class="mb-3">
              <label class="form-label">Code: </label>
              <label class="form-label" id="location_code"> <%= @location.code %> </label>
            </div>
            <div class="mb-3">
              <label class="form-label">City: </label>
              <label class="form-label" id="location_city"> <%= @location.city %> </label>
            </div>
            <div class="mb-3">
              <label class="form-label">Country: </label>
              <label class="form-label" id="location_country"> <%= @location.country %> </label>
            </div>
            <div class="mb-3">
              <%= link_to "Edit", edit_location_path, class: 'btn btn-primary' %> | 
              <%= link_to "Back", locations_path, class: 'btn btn-primary' %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
