<!DOCTYPE html>
<html>
  <head>
    <title>LaTeX Errors</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="theme-blue">
    <div class="wrapper">
      <%= render 'layouts/sidebar' %>

      <main class="content">
        <div class="container-fluid">
          <div class="header">
            <h1 class="header-title">Problem Compiling LaTeX Document</h1>
          </div>
          <div class="row">
            <div class="col-12 col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="mb-3 d-flex flex-row-reverse">
                    <%= link_to "Edit Proposal", edit_proposal_path(@proposal),
                      class: "btn btn-primary" %>
                  </div>

                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <%= render partial: 'layouts/toastr' %>
  </body>
</html>
